language: julia

os:
  - linux

julia:
  - 0.7
  - 1.1
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false

sudo: false

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'import Pkg; Pkg.clone(pwd()); Pkg.build("DecisionTree"); Pkg.test("DecisionTree"; coverage=true)'

after_success:
  - julia -e 'import Pkg; cd(Pkg.dir("DecisionTree")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
